$redThemeColor: #DC5E5E;
$grayThemeColor: #5D5D5D;
$lightGrayThemeColor: #BFBFBF;
$lightRedThemeColor: rgba(220, 94, 94, 0.3);

::selection{
    background: $lightRedThemeColor;
}

body{
    margin: 0;
}

header{

    div{
        width: max-content;
        margin: 20px auto;
        font-family: niveau-grotesk-small-caps, sans-serif;
        font-weight: 700;

        a{
            text-decoration: none;

            &:hover > h1{
                text-shadow: .5px .5px $grayThemeColor;
            }

            h1{
                margin: 0;
    
                font-size: 5rem;
                color: $redThemeColor;
                text-shadow: 1.5px 1.5px $grayThemeColor;
                transition: .1s;
            }
        
            #header-date{
                margin: 0;
        
                color: $grayThemeColor;
                font-size: 1.75rem;
                font-weight: 700;
                float: right;
            }
        } 
    }
}

nav{
    height: 100vh;
    width: 12.5vw;
    position: fixed;
    top: 0;
    border-right: 1px solid $lightGrayThemeColor;
    display: flex;
    justify-content: center;
    align-items: center;

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-item{
            margin: 35px 0;

            a{
                display: flex;
                align-items: row;
                text-decoration: none;
                padding: 15px;
                color: $grayThemeColor;
                transition: .15s;
                text-transform: uppercase;

                &:hover{
                    color: $redThemeColor;
                    background: $lightRedThemeColor;
                }

                span{
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.2rem;
                }
            }
        }

        #source-text{
            position: absolute;
            bottom: 20px;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            font-size: .7rem;

            p{
                color: $grayThemeColor;
                margin: 0;
            }

            a{
                text-decoration: none;
                color: $grayThemeColor;
                transition: .15s;
                display: block;
                margin-top: 10px;

                &:hover{
                    color: $redThemeColor;
                }
            }
        }
    }
}

main{
    margin: 75px 15vw 0 15vw;

    #main-stats-box{
        display: flex;
        width: max-content;
        margin: auto;
        margin-top: 50px;
        color: $grayThemeColor;

        .main-stats-type{
            margin: 0 25px;

            .main-stats-item-top{
                display: flex;
                justify-content: center;
                align-items: baseline;
                margin-bottom: 10px;

                .number{
                    font-size: 2.5rem;
                    font-family: niveau-grotesk-small-caps, sans-serif;
                    font-weight: 700;
                    color: $redThemeColor;
                    text-shadow: 1px 1px $grayThemeColor;
                }
                .text{
                    margin-left: 10px;
                    font-size: 1.3rem;
                    font-family: 'Roboto', sans-serif;
                }
            }

            .main-stats-items{
                overflow: auto;
                height: 220px;

                &::-webkit-scrollbar {
                    width: 8px;
                }
                
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: $lightGrayThemeColor;
                    border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb:hover {
                    background: #888;
                }
                
                .main-stats-item{
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);
                    border-top: 1px solid $lightGrayThemeColor;
                    padding: 10px;
    
                    img{
                        grid-column: span 3;
                        margin: auto;
                        height: 22px;
                        border-radius: 1px;
                    }
    
                    span{
                        font-family: niveau-grotesk-small-caps, sans-serif;
                        font-weight: 700;
                        grid-column: span 4;
                        text-align: center;
                        font-size: 1.2rem;
                    }

                    .n{
                        grid-column: span 1;
                    }
                    
                }
            }  
        }
    }

    #canvas-box{
        margin: auto;
        margin-top: 25px;
        width: max-content;

        canvas{
            width: 800px;
            height: 400px;
        }
    }


    #inp-box{
        position: absolute;

        #countries-text-inp{
            padding: 10px 15px;
            font-family: 'Roboto', sans-serif;
            border: none;
            border-bottom: 1px solid $lightGrayThemeColor;
            background-color: #f0f0f0;
            outline: 0;
            transition: .2s;
            color: $grayThemeColor;
            font-size: 1rem;
            box-sizing: border-box;
            width: 225px;

            &:focus{
                background: $lightRedThemeColor;
                border-bottom: 1px solid $redThemeColor;

                &::placeholder{
                    color: $redThemeColor;
                }

                ~ {
                    #search-results-box{
                        display: block;
                    }
                }
            }
    
            &:hover{
                background: $lightRedThemeColor;
                border-bottom: 1px solid $redThemeColor;
    
                &::placeholder{
                    color: $redThemeColor;
                }

                ~ {
                    #search-results-box{
                        display: block;
                    }
                }
            }
        }

        #search-results-box{
            overflow: auto;
            height: 350px;
            width: 225px;
            display: none;
            background-color: white;

            &:hover{
                display: block;
            }

            &::-webkit-scrollbar {
                width: 8px;
            }
            
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
            &::-webkit-scrollbar-thumb {
                background: $lightGrayThemeColor;
                border-radius: 10px;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: #888;
            }

            .search-result{
                border-bottom: 1px solid $lightGrayThemeColor;
                padding: 10px;
                transition: .2s;
                display: grid;
                cursor: pointer;
                grid-template-columns: repeat(10, 1fr);

                &:hover{
                    background: $lightRedThemeColor;
                    border-bottom: 1px solid $redThemeColor;

                    & > p{
                        color: $redThemeColor;
                    }
                }

                &:last-child{
                    border-bottom: none;
                }

                img{
                    height: 15px;
                    grid-column: span 2;
                    display: block;
                    margin: auto;
                }

                p{
                    grid-column: span 8;
                    font-family: niveau-grotesk-small-caps, sans-serif;
                    font-weight: 700;
                    color: $grayThemeColor;
                    margin: 0;
                    margin-left: 5px;
                }
            }
        }
    }
    
    #country-stats-top{
        width: 60%;
        margin: auto;
        margin-top: 130px;

        #country-stats-top-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 15px;
            border-bottom: 1px solid $lightGrayThemeColor;
            
            div{
                display: inline-block;
                width: max-content;
            }

            #country-name-box{
                display: inline-flex;
                align-items: center;

                img{
                    height: 50px;
                    border-radius: 3px;
                    box-shadow: 1px 1px 3px $grayThemeColor;
                }

                p{
                    color: $redThemeColor;
                    text-shadow: 1px 1px $grayThemeColor;
                    font-size: 50px;
                    margin: 0;
                    font-family: niveau-grotesk-small-caps, sans-serif;
                    font-weight: 700;
                    margin-left: 20px;
                    text-transform: uppercase;
                }
            }
            
            #country-population-box{
                display: flex;

                #population{
                    color: $grayThemeColor;

                    p{
                        display: inline;
                    }

                    #text{
                        font-family: 'Roboto', sans-serif;
                    }

                    #number{
                        font-family: niveau-grotesk-small-caps, sans-serif;
                        font-weight: 700;
                        font-size: 1.25rem;
                    }
                }

                #percent{
                    color: $grayThemeColor;
                    margin-left: 30px;

                    p{
                        display: inline;
                    }

                    #number{
                        font-family: niveau-grotesk-small-caps, sans-serif;
                        font-weight: 700;
                        font-size: 1.25rem;
                    }

                    #text{
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }

        #country-stats-top-stats{
            display: flex;
            justify-content: center;

            div{
                margin: 30px;

                p{
                    display: inline;
                }

                #number{
                    font-size: 2.25rem;
                    color: $redThemeColor;
                    text-shadow: 1px 1px $grayThemeColor;
                    font-family: niveau-grotesk-small-caps, sans-serif;
                    font-weight: 700;
                }

                #text{
                    font-family: 'Roboto', sans-serif;
                    color: $grayThemeColor;
                    font-size: 1.25rem;
                    margin-left: 10px;
                }
            }
        }
    }

    #country-chart-box{
        #country-chart{
            width: 300px;
            height: 300px;
        }
    }
}

#countryLoader{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    #loader{
        top: 100px;
        left: 50%;
    }
}

#loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid $redThemeColor;
    width: 60px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 250px;
    left: 50%;
    display: block;
    margin-left: -50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

